@font-face{
    font-family: 'Bellota-LightItalic';
    src: url("./fonts/Bellota-LightItalic.otf");
}

@font-face{
    font-family: 'Bellota-BoldItalic';
    src: url("./fonts/Bellota-BoldItalic.otf");
}


.box
{
    position: relative;
    margin-right: auto;
    margin-top: 50px;
    margin-left: auto;
    top:7%;
    width: 35%;
    background-color: #ffffff;
    border:1px solid #eeddee;
    border-radius: 8px;
    padding: 20px;
    opacity: 0.95;
    -webkit-box-shadow: 0px 10px 30px 2px rgba(186,186,186,0.86);
    -moz-box-shadow: 0px 10px 30px 2px rgba(186,186,186,0.86);
    box-shadow: 0px 10px 30px 2px rgba(186,186,186,0.86);
}
#header_text
{
    margin-top: 14px;
}
.header
{
    padding: 10px;
    width: 100%;
    height: 90px;
    background-color: #2ac1fdf3;
    color:#ffffff;
    text-align: center;
    font-family: 'Bellota-BoldItalic',sans-serif;
    text-shadow: #e5e5e5 .4px .4px 0px;
    font-weight: bolder;
}
.header_bottom
{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 100%;
    height: 60px;
    background-color: #2ac1fdf3;
    color:#ffffff;
    text-align: center;
    font-family: 'Bellota-BoldItalic',sans-serif;
    text-shadow: #e5e5e5 .4px .4px 0px;
    font-weight: bolder;
    margin-bottom: 10px;
}

input[type="text"]
{
    border: 1px solid #e5e5e5;
    border-radius: 3.5px;
    margin-top: 5px;
    width: 65%;
    height: 35px;
    margin-bottom: 7px;
    padding-left: 5px;
    outline: none;
    -webkit-box-shadow: 10px 10px 62px 0px rgba(240,240,240,1);
    -moz-box-shadow: 10px 10px 62px 0px rgba(240,240,240,1);
    box-shadow: 10px 10px 62px 0px rgba(240,240,240,1);
}

input[type="text"]:hover
{
    
    border: 1.5px solid rgb(245, 19, 87);
    
    outline: none;
}

#add
{
    outline: none;
    background-color: rgb(245, 19, 87);
    color:#ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-left: 10px;
    margin-top: 3px;
    border: none;
    text-align: center;
    font-weight: 400;
    border-radius: 8px;
}
#add:hover
{
    background-color: rgb(206, 5, 65);
    outline: none;
    
}


#top
{
    margin-top: 10px;
    text-align: center;
}

.task_format
{
   background-color: rgb(245, 255, 98) ;
   margin: 5px 20px 5px 20px;
   color:#2b2b2b;
   padding-left:7px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-right: 7px; 
   font-family: 'Bellota-BoldItalic',sans-serif;
   border: 1px solid #fcfcfc;
   border-radius: 10px;
}
.blue
{
    background-color: rgb(73, 255, 216);
}

.cross
{
    float: right;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    outline: none;
    
}
.cross:hover
{
    color: #ffffff;
    font-size: 15.5px;
}
.cross:focus
{
    outline: none;
}

